Repository galaxyproject/usegalaxy-tools, pull requests merged in 2019-10, with the labels that each got.

#60 add galaxy-ml tool suite to galaxy main
  .ci/condarc
  .ci/jenkins.sh
  test.galaxyproject.org/graphdisplay_data.yml
  test.galaxyproject.org/graphdisplay_data.yml.lock
  test.galaxyproject.org/statistics.yml
  test.galaxyproject.org/statistics.yml.lock
Labels: bug, site/org/test, tools/new

#62 Another batch of tool file (re)generation and update for test.org
  test.galaxyproject.org/graph_display_data.yml
  test.galaxyproject.org/graph_display_data.yml.lock
  test.galaxyproject.org/ideas.yml
  test.galaxyproject.org/ideas.yml.lock
  test.galaxyproject.org/join__subtract_and_group.yml
  test.galaxyproject.org/join__subtract_and_group.yml.lock
  test.galaxyproject.org/mapping.yml
  test.galaxyproject.org/mapping.yml.lock
  test.galaxyproject.org/metagenomic_analysis.yml
  test.galaxyproject.org/metagenomic_analysis.yml.lock
  test.galaxyproject.org/metagenomic_analysis__deprecated_.yml
  test.galaxyproject.org/metagenomic_analysis__deprecated_.yml.lock
  test.galaxyproject.org/mimodd.yml
  test.galaxyproject.org/mimodd.yml.lock
  test.galaxyproject.org/motifs.yml
  test.galaxyproject.org/motifs.yml.lock
  test.galaxyproject.org/multiple_alignments.yml
  test.galaxyproject.org/multiple_alignments.yml.lock
  test.galaxyproject.org/nanopore.yml
  test.galaxyproject.org/nanopore.yml.lock
  test.galaxyproject.org/ncbi_blast_.yml
  test.galaxyproject.org/ncbi_blast_.yml.lock
Labels: site/org/test, tools/update

#63 Final batch of tool file (re)generation and update for test.org
  test.galaxyproject.org/operate_on_genomic_intervals.yml
  test.galaxyproject.org/operate_on_genomic_intervals.yml.lock
  test.galaxyproject.org/picard.yml
  test.galaxyproject.org/picard.yml.lock
  test.galaxyproject.org/planttribes.yml
  test.galaxyproject.org/planttribes.yml.lock
  test.galaxyproject.org/regional_variation.yml
  test.galaxyproject.org/regional_variation.yml.lock
  test.galaxyproject.org/rna_seq.yml
  test.galaxyproject.org/rna_seq.yml.lock
  test.galaxyproject.org/rseqc.yml
  test.galaxyproject.org/rseqc.yml.lock
  test.galaxyproject.org/sam_bam.yml
  test.galaxyproject.org/sam_bam.yml.lock
  test.galaxyproject.org/statistics.yml
  test.galaxyproject.org/statistics.yml.lock
  test.galaxyproject.org/text_manipulation.yml
  test.galaxyproject.org/text_manipulation.yml.lock
  test.galaxyproject.org/transit.yml
  test.galaxyproject.org/transit.yml.lock
  test.galaxyproject.org/usegalaxy___common_tools_test.yml
  test.galaxyproject.org/usegalaxy___common_tools_test.yml.lock
  test.galaxyproject.org/variant_calling.yml
  test.galaxyproject.org/variant_calling.yml.lock
  test.galaxyproject.org/vcf_bcf.yml
  test.galaxyproject.org/vcf_bcf.yml.lock
Labels: site/org/test, tools/update

#66 Minor fixes to lock file generation script
  scripts/split_tool_yml.py
Labels: bug, meta

#71 Regenerate tool YAMLs plus lock files for sections A-F of usegalaxy.org (again)
  .ci/galaxy.yml
  .ci/jenkins.sh
  .ci/repos.conf
  usegalaxy.org/annotation.yml.lock
  usegalaxy.org/assembly.yml.lock
  usegalaxy.org/bed.yml.lock
  usegalaxy.org/chip_seq.yml.lock
  usegalaxy.org/chromosome_conformation.yml.lock
  usegalaxy.org/cloudmap__deprecated_.yml.lock
  usegalaxy.org/collection_operations.yml.lock
  usegalaxy.org/convert_formats.yml.lock
  usegalaxy.org/datamash.yml.lock
  usegalaxy.org/deeptools.yml.lock
  usegalaxy.org/du_novo.yml.lock
  usegalaxy.org/emboss.yml.lock
Labels: meta, site/org, tools/update

#67 Regenerate and update lock files for sections F-N of usegalaxy.org
  .ci/jenkins.sh
  usegalaxy.org/fasta_fastq.yml.lock
  usegalaxy.org/fastq_quality_control.yml.lock
  usegalaxy.org/fetch_sequences_alignments.yml.lock
  usegalaxy.org/gatk.yml.lock
  usegalaxy.org/genome_diversity.yml.lock
  usegalaxy.org/get_data.yml.lock
  usegalaxy.org/graph_display_data.yml.lock
  usegalaxy.org/iwtomics.yml.lock
  usegalaxy.org/join__subtract_and_group.yml.lock
  usegalaxy.org/mapping.yml.lock
  usegalaxy.org/metagenomic_analysis.yml.lock
  usegalaxy.org/mimodd.yml.lock
  usegalaxy.org/mothur.yml.lock
  usegalaxy.org/motif.yml.lock
  usegalaxy.org/multiple_alignments.yml.lock
  usegalaxy.org/nanopore.yml.lock
  usegalaxy.org/ncbi_blast_.yml.lock
Labels: site/org, tools/update

#74 Install/update SAMTools on usegalaxy.org
  .ci/jenkins.sh
  usegalaxy.org/sam_bam.yml
  usegalaxy.org/sam_bam.yml.lock
Labels: site/org, tools/new, tools/update

#72 Regenerate lock files for usegalaxy.org sections O-P (except Picard)
  scripts/fix-lockfile.py
  usegalaxy.org/operate_on_genomic_intervals.yml.lock
  usegalaxy.org/phenotype_association.yml.lock
  usegalaxy.org/planttribes.yml.lock
  usegalaxy.org/presto.yml.lock
Labels: site/org, tools/update

#75 Update Picard on usegalaxy.org
  usegalaxy.org/picard.yml.lock
Labels: site/org, tools/update

#76 Update R* sections on usegalaxy.org
  usegalaxy.org/regional_variation.yml.lock
  usegalaxy.org/rna_analysis__deprecated_.yml.lock
  usegalaxy.org/rna_seq.yml.lock
  usegalaxy.org/rseqc.yml.lock
Labels: site/org, tools/update

#77 Update sections S* and T* on usegalaxy.org
  usegalaxy.org/seqtk.yml.lock
  usegalaxy.org/statistics.yml.lock
  usegalaxy.org/str_fm__microsatellite_analysis.yml.lock
  usegalaxy.org/text_manipulation.yml.lock
Labels: site/org, tools/update

#78 Update V* sections on usegalaxy.org
  usegalaxy.org/variant_calling.yml.lock
  usegalaxy.org/vcf_bcf.yml.lock
Labels: site/org, tools/update
