Repository galaxyproject/usegalaxy-tools, pull requests merged in 2019-11, with the labels that each got.

#80 Update Data Managers on test.org
  .ci/jenkins.sh
  test.galaxyproject.org/data_managers.yml
  test.galaxyproject.org/data_managers.yml.lock
Labels: site/org/test, tools/update

#83 add train test split and other 2 tools
  usegalaxy.org/statistics.yml
  usegalaxy.org/statistics.yml.lock
Labels: site/org, tools/new

#85 Install dada2 tool suite on test.
  test.galaxyproject.org/metagenomic_analysis.yml
  test.galaxyproject.org/metagenomic_analysis.yml.lock
Labels: site/org/test

#86 add snippy to Main
  usegalaxy.org/variant_calling.yml
  usegalaxy.org/variant_calling.yml.lock
Labels: site/org
