Repository galaxyproject/usegalaxy-tools, pull requests merged in 2019-06, with the labels that each got.

#6 Add code owners
  .github/CODEOWNERS
Labels: meta

#5 test.galaxyproject.org tool install samples
  test.galaxyproject.org/bedtools.yml
  test.galaxyproject.org/bedtools.yml.lock
  test.galaxyproject.org/cutadapt.yml
  test.galaxyproject.org/cutadapt.yml.lock
  test.galaxyproject.org/fastqc.yml
  test.galaxyproject.org/fastqc.yml.lock
Labels: site/org, tools/update

#7 Install ChIPseeker on Test
  test.galaxyproject.org/chipseeker.yml
  test.galaxyproject.org/chipseeker.yml.lock
Labels: site/org, tools/new

#8 Install ChIPseeker on Test (second attempt)
  .travis.yml
  test.galaxyproject.org/chipseeker.yml.lock
Labels: site/org, tools/new

#10 Tooling fixes
  Makefile
  README.md
  requirements.txt
  scripts/fix-lockfile.py
  scripts/update-tool.py
Labels: meta

#11 Install ChIPseeker on Main
  .ci/main.galaxyproject.org.pub
  .travis.yml
  usegalaxy.org/chipseeker.yml
  usegalaxy.org/chipseeker.yml.lock
Labels: site/org, tools/new

#15 Use rsync --info=progress2 to display transfer progress summary and prevent a no-output Travis timeout
  .travis.yml
Labels: meta

#21 Fix schema for section ID
  .schema.yml
Labels: meta

#22 Install InterMine Exchange tool on test.galaxyproject.org
  test.galaxyproject.org/intermine_galaxy_exchange.yml
  test.galaxyproject.org/intermine_galaxy_exchange.yml.lock
Labels: site/org, tools/new

#24 Ensure conda/activate/deactivate symlinks exist in Conda envs
  .travis.yml
Labels: meta

#26 Automatically convert label in .yml to id in .lock
  scripts/fix-lockfile.py
Labels: meta

#23 Install InterMine Exchange tool on usegalaxy.org
  usegalaxy.org/intermine_galaxy_exchange.yml
  usegalaxy.org/intermine_galaxy_exchange.yml.lock
Labels: site/org, tools/new

#25 Install find_subsequences revision 1 (d882a0a75759)
  usegalaxy.org/find_subsequences.yml
  usegalaxy.org/find_subsequences.yml.lock
Labels: site/org, tools/new

#29 add snpeff download 4.1.0
  test.galaxyproject.org/snpeff.yml
  test.galaxyproject.org/snpeff.yml.lock
Labels: site/org/test, tools/update

#32 install versions of cutadapt, fastqc
  test.galaxyproject.org/cutadapt.yml.lock
  test.galaxyproject.org/fastqc.yml.lock
Labels: site/org/test, tools/update

#36 Install updated wrappers for transit hmm, gumbel, resampling
  usegalaxy.org/transit.yml
  usegalaxy.org/transit.yml.lock
Labels: site/org, tools/update

#34 add compose_text_param tool to Main
  usegalaxy.org/compose_text_param.yml
  usegalaxy.org/compose_text_param.yml.lock
Labels: site/org, tools/new

#35 install unicycler 0.2.0 on Test
  test.galaxyproject.org/unicycler.yml
  test.galaxyproject.org/unicycler.yml.lock
Labels: site/org/test, tools/update
