Repository galaxyproject/usegalaxy-tools, pull requests merged in 2020-01, with the labels that each got.

#95 Install additional LoFreq tools on test.
  test.galaxyproject.org/variant_calling.yml
  test.galaxyproject.org/variant_calling.yml.lock
Labels: site/org/test, tools/new

#97 Install LoFreq tools on usegalaxy.org
  usegalaxy.org/variant_calling.yml
  usegalaxy.org/variant_calling.yml.lock
Labels: site/org, tools/new

#96 Install DADA2 data manager to test.
  test.galaxyproject.org/data_managers.yml
  test.galaxyproject.org/data_managers.yml.lock
Labels: site/org/test

#101 Install Table Compute on usegalaxy.org
  usegalaxy.org/text_manipulation.yml
  usegalaxy.org/text_manipulation.yml.lock
Labels: site/org, tools/new

#115 Move test.galaxyproject.org repo to new stratum0
  .ci/jenkins.sh
  .ci/repos.conf
  test.galaxyproject.org/fasta_fastq.yml
  test.galaxyproject.org/fasta_fastq.yml.lock
  test.galaxyproject.org/fastq_quality_control.yml
  test.galaxyproject.org/fastq_quality_control.yml.lock
Labels: site/org/test, tools/new

#116 Update to latest version with the option how to deal with replicates
  usegalaxy.org/transit.yml.lock
Labels: site/org, tools/update

#117 Install bp_genbank2gff3 on usegalaxy.org
  usegalaxy.org/annotation.yml
  usegalaxy.org/annotation.yml.lock
Labels: site/org, tools/new

#118 Partially sync annotation category with usegalaxy.eu
  usegalaxy.org/annotation.yml
  usegalaxy.org/annotation.yml.lock
Labels: site/org

#120 Partially sync more of annotation category with usegalaxy.eu
  usegalaxy.org/annotation.yml
  usegalaxy.org/annotation.yml.lock
Labels: site/org, tools/new
