Repository galaxyproject/usegalaxy-tools, pull requests merged in 2020-10, with the labels that each got.

#245 Update kc-align on test.org
  test.galaxyproject.org/multiple_alignments.yml.lock
Labels: site/org/test, tools/update

#243 Various small tool updates
  usegalaxy.org/annotation.yml.lock
  usegalaxy.org/collection_operations.yml.lock
  usegalaxy.org/metagenomic_analysis.yml.lock
  usegalaxy.org/text_manipulation.yml.lock
Labels: site/org, tools/update

#248 Add latest Medaka revision
  usegalaxy.org/nanopore.yml.lock
Labels: site/org, tools/update

#247 Add Flye
  usegalaxy.org/nanopore.yml
  usegalaxy.org/nanopore.yml.lock
Labels: site/org, tools/new
