Repository galaxyproject/usegalaxy-tools, pull requests merged in 2020-11, with the labels that each got.

#259 Update MAF tools on usegalaxy.org
  usegalaxy.org/multiple_alignments.yml.lock
Labels: site/org, tools/update

#261 Configuration for cloud repo
  .ci/jenkins.sh
  .ci/repos.conf
  Makefile
  README.md
  scripts/fix-lockfile.py
Labels: meta, site/cloud

#260 Install missing kraken tools on test.org
  test.galaxyproject.org/metagenomic_analysis.yml
  test.galaxyproject.org/metagenomic_analysis.yml.lock
Labels: site/org/test, tools/new

#258 Update protein modeling tools on test
  test.galaxyproject.org/protein_modeling.yml.lock
Labels: site/org/test, tools/update
