Repository galaxyproject/usegalaxy-tools, pull requests merged in 2020-03, with the labels that each got.

#155 Add Kc-Align tool
  test.galaxyproject.org/multiple_alignments.yml
  test.galaxyproject.org/multiple_alignments.yml.lock
Labels: site/org/test, tools/new

#158 General update, add split_file_to_collection
  usegalaxy.org/annotation.yml.lock
  usegalaxy.org/chip_seq.yml.lock
  usegalaxy.org/collection_operations.yml
  usegalaxy.org/collection_operations.yml.lock
  usegalaxy.org/convert_formats.yml.lock
  usegalaxy.org/deeptools.yml.lock
  usegalaxy.org/du_novo.yml.lock
  usegalaxy.org/emboss.yml.lock
  usegalaxy.org/evolution.yml.lock
  usegalaxy.org/fasta_fastq.yml.lock
  usegalaxy.org/fastq_quality_control.yml.lock
  usegalaxy.org/fetch_sequences_alignments.yml.lock
  usegalaxy.org/get_data.yml.lock
  usegalaxy.org/graph_display_data.yml.lock
  usegalaxy.org/metagenomic_analysis.yml.lock
  usegalaxy.org/mothur.yml.lock
  usegalaxy.org/motif.yml.lock
  usegalaxy.org/multiple_alignments.yml.lock
  usegalaxy.org/nanopore.yml.lock
  usegalaxy.org/presto.yml.lock
  usegalaxy.org/rna_analysis__deprecated_.yml.lock
  usegalaxy.org/rna_seq.yml.lock
  usegalaxy.org/sam_bam.yml.lock
  usegalaxy.org/statistics.yml.lock
  usegalaxy.org/text_manipulation.yml.lock
  usegalaxy.org/variant_calling.yml.lock
  usegalaxy.org/vcf_bcf.yml.lock
Labels: site/org, tools/new, tools/update

#164 Install HyPhy 2.5.8 on usegalaxy.org
  usegalaxy.org/hyphy.yml
  usegalaxy.org/hyphy.yml.lock
Labels: site/org, tools/new, tools/update

#166 Update kc_align on usegalaxy.org
  usegalaxy.org/multiple_alignments.yml.lock
Labels: site/org, tools/update
