Repository galaxyproject/usegalaxy-tools, pull requests merged in 2020-02, with the labels that each got.

#125 Install tools in new Evolution section, plus install Bandage
  usegalaxy.org/assembly.yml
  usegalaxy.org/assembly.yml.lock
  usegalaxy.org/evolution.yml
  usegalaxy.org/evolution.yml.lock
  usegalaxy.org/genome_diversity.yml
  usegalaxy.org/genome_diversity.yml.lock
Labels: site/org, tools/new, tools/update

#121 Support for installing on Jenkins nodes and copying the results to the Stratum 0
  .ci/cvmfs-fuse.conf
  .ci/jenkins.sh
  test.galaxyproject.org/annotation.yml
  test.galaxyproject.org/annotation.yml.lock
Labels: meta, site/org/test, tools/new

#126 Update devteam sam_bam tools
  usegalaxy.org/sam_bam.yml.lock
Labels: site/org, tools/update

#127 Install bgruening/repeat_masker on usegalaxy.org
  usegalaxy.org/annotation.yml
  usegalaxy.org/annotation.yml.lock
Labels: site/org, tools/new

#128 Update ChIP-Seq section on usegalaxy.org
  usegalaxy.org/chip_seq.yml.lock
Labels: site/org, tools/update

#129 Update of biotradis version on test
  test.galaxyproject.org/transposon_insertion_sequencing.yml.lock
Labels: site/org/test, tools/update

#146 Install HyPhy tools on usegalaxy.org
  usegalaxy.org/hyphy.yml
  usegalaxy.org/hyphy.yml.lock
Labels: site/org, tools/new
