Repository galaxyproject/usegalaxy-tools, pull requests merged in 2021-04, with the labels that each got.

#337 Update Protein Modeling tools
  usegalaxy.org/protein_modeling.yml
  usegalaxy.org/protein_modeling.yml.lock
Labels: site/org, tools/new

#338 Move machine learning tools on .org to their own section
  usegalaxy.org/machine_learning.yml
  usegalaxy.org/machine_learning.yml.lock
  usegalaxy.org/statistics.yml
  usegalaxy.org/statistics.yml.lock
Labels: site/org, tools/reorg

#341 Deploy HyPhy 2.5.31 on usegalaxy.org
  usegalaxy.org/hyphy.yml.lock
Labels: site/org, tools/new, tools/update

#346 Deploy HyPhy 2.5.31+galaxy1 wrappers on usegalaxy.org
  usegalaxy.org/hyphy.yml.lock
Labels: site/org, tools/update
