Repository galaxyproject/usegalaxy-tools, pull requests merged in 2021-08, with the labels that each got.

#370 add tool clipOverlap to usegalaxy.org
  usegalaxy.org/sam_bam.yml
  usegalaxy.org/sam_bam.yml.lock
Labels: tools/new, site/org

#406 Add some VGP tools on test.org
  test.galaxyproject.org/assembly.yml
  test.galaxyproject.org/assembly.yml.lock
Labels: tools/new, tools/update, site/org/test

#413 Update busco on test.org
  test.galaxyproject.org/annotation.yml.lock
Labels: tools/update, site/org/test
