Repository galaxyproject/usegalaxy-tools, pull requests merged in 2021-09, with the labels that each got.

#418 Update biotradis on test.org
  test.galaxyproject.org/transposon_insertion_sequencing.yml.lock
Labels: tools/update, site/org/test

#420 Update duplex_family_size_distribution on test.org
  test.galaxyproject.org/du_novo.yml.lock
Labels: tools/update, site/org/test

#421 Update duplex_family_size_distribution on test.org
  test.galaxyproject.org/du_novo.yml.lock
Labels: tools/update, site/org/test

#422 remove travis.yml
  .travis.yml
Labels: meta

#424 Update iqtree2 on usegalaxy.org
  usegalaxy.org/evolution.yml.lock
Labels: tools/update, site/org

#425 Prevent old non-working versin of regex_find_replace from being reinstalled
  usegalaxy.org/text_manipulation.yml.lock
Labels: site/org
