Repository galaxyproject/usegalaxy-tools, pull requests merged in 2021-02, with the labels that each got.

#288 Update sra_tools on usegalaxy.org
  usegalaxy.org/get_data.yml.lock
Labels: site/org, tools/update

#289 Update JBrowse on usegalaxy.org
  usegalaxy.org/graph_display_data.yml.lock
Labels: site/org, tools/update

#292 More .org tool updates for Smorgasbord
  usegalaxy.org/graph_display_data.yml
  usegalaxy.org/graph_display_data.yml.lock
  usegalaxy.org/proteomics.yml
  usegalaxy.org/proteomics.yml.lock
  usegalaxy.org/single_cell.yml
  usegalaxy.org/single_cell.yml.lock
  usegalaxy.org/text_manipulation.yml
  usegalaxy.org/text_manipulation.yml.lock
Labels: site/org, tools/new

#293 Install peterjc/seq_filter_by_id on .org
  usegalaxy.org/fasta_fastq.yml
  usegalaxy.org/fasta_fastq.yml.lock
Labels: site/org, tools/new

#296 Install CustomProDB data manager on test.galaxyproject.org
  test.galaxyproject.org/data_managers.yml
  test.galaxyproject.org/data_managers.yml.lock
Labels: site/org/test, tools/new

#298 Install maxquant and msstats tools from galaxyp on .org
  usegalaxy.org/proteomics.yml
  usegalaxy.org/proteomics.yml.lock
Labels: site/org, tools/new

#299 Install a version of peptideshaker corresponding to search_gui 3.3.10.1
  usegalaxy.org/proteomics.yml.lock
Labels: site/org, tools/update

#300 Slightly upgrade peptideshaker on usegalaxy.org
  usegalaxy.org/proteomics.yml.lock
Labels: site/org, tools/update
